server_name: "{{ MATRIX_SERVER_NAME }}"
pid_file: /data/homeserver.pid
max_upload_size: {{ webserver_client_max_body_size | default(lookup('config', application_id, 'server.client_max_body_size', '100m')) }}
listeners:
  - port: {{ MATRIX_SYNAPSE_CONTAINER_PORT }}
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
{% if lookup('config', application_id, 'services.prometheus.native_metrics.enabled', False) | bool %}
  - port: {{ lookup('config', application_id, 'services.prometheus.native_metrics.port') }}
    type: metrics
    bind_addresses: ['0.0.0.0']
{% endif %}
database:
  name: psycopg2
  args:
    user: "{{ MATRIX_POSTGRES_USER }}"
    password: "{{ MATRIX_POSTGRES_PASSWORD }}"
    database: "{{ MATRIX_POSTGRES_DATABASE }}"
    host: "{{ MATRIX_POSTGRES_HOST }}"
    cp_min: 5
    cp_max: {{ POSTGRES_ALLOWED_AVG_CONNECTIONS }}
log_config:                     "{{ MATRIX_SYNAPSE_LOG_PATH_CONTAINER }}"
media_store_path:               "/data/media_store"
registration_shared_secret:     "{{ MATRIX_REGISTRATION_SHARED_SECRET }}"
report_stats:                   true
enable_metrics:                 {{ lookup('config', application_id, 'services.prometheus.native_metrics.enabled', False) | bool | lower }}
macaroon_secret_key:            "{{ lookup('config', application_id, 'credentials.macaroon_secret_key') }}"
form_secret:                    "{{ lookup('config', application_id, 'credentials.form_secret') }}"
signing_key_path:               "/data/{{ MATRIX_SYNAPSE_DOMAIN }}.signing.key"
web_client_location:            "{{ lookup('tls', application_id, 'protocols.web') }}://{{ lookup('domains', application_id).element }}"
public_baseurl:                 "{{ MATRIX_SYNAPSE_URL }}"
trusted_key_servers:
  - server_name: "matrix.org"
admin_contact: 'mailto:{{ lookup('users', 'administrator').email }}'

{% set email = lookup('email', application_id) %}
{% if email.enabled | bool %}
email:
  smtp_host:                    "{{ email.host }}"
  smtp_port:                    "{{ email.port }}"
  smtp_user:                    "{{ email.username }}"
  smtp_pass:                    "{{ email.password }}"
  #force_tls:                    true
  #require_transport_security:   true
  enable_tls:                   "{{ email.tls | upper }}"
  notif_from:                   "Your Friendly %(app)s homeserver <{{ email['from'] }}>"
  app_name:                     "Matrix on {{ MATRIX_SYNAPSE_DOMAIN }}"
  enable_notifs:                true
  notif_for_new_users:          false
  client_base_url:              "{{ MATRIX_SYNAPSE_DOMAIN }}"
  validation_token_lifetime:    15m
{% endif %}

{% if MATRIX_OIDC_ENABLED | bool %}
# @See https://matrix-org.github.io/synapse/latest/openid.html
oidc_providers:
  - idp_id:         keycloak
    idp_name:       "{{ OIDC.BUTTON_TEXT }}"
    issuer:         "{{ OIDC.CLIENT.ISSUER_URL }}"
    client_id:      "{{ OIDC.CLIENT.ID }}"
    client_secret:  "{{ OIDC.CLIENT.SECRET }}"
    scopes: ["openid", "profile"]
    user_mapping_provider:
      config:
        localpart_template: "{% raw %}{{ user.{% endraw %}{{ OIDC.ATTRIBUTES.USERNAME }}{% raw %}}}{% endraw %}"
        display_name_template: "{% raw %}{{ user.name }}{% endraw %}"
    backchannel_logout_enabled: true
{% endif %}

{% if MATRIX_BRIDGES | length > 0 %}
app_service_config_files:
{% for item in MATRIX_BRIDGES %}
  - {{ MATRIX_REGISTRATION_FILE_FOLDER }}mautrix-{{ item.bridge_name }}/registration.yaml
{% endfor %}
{% endif %}