{% if lookup('objstore', application_id, 'local') %}
{% set _objstore = lookup('objstore', application_id) %}
  minio:
    image: "{{ _objstore.image }}:{{ _objstore.version }}"
    container_name: {{ _objstore.container }}
    restart: {{ DOCKER_RESTART_POLICY }}
    command: ["server", "/data"]
    environment:
      MINIO_ROOT_USER: "{{ _objstore.access_key }}"
      MINIO_ROOT_PASSWORD: "{{ _objstore.secret_key }}"
    volumes:
      - minio:/data
    networks:
      - default
    logging:
      driver: journald
{% macro include_resource_for(svc, indent=4) -%}
  {% set service_name = svc -%}
  {%- set _snippet -%}
{% include 'roles/sys-svc-container/templates/resource.yml.j2' %}
  {%- endset -%}
{{ _snippet | indent(indent, true) }}
{%- endmacro %}
{{ include_resource_for('minio') }}
{% endif %}
{{ "\n" }}
