{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
{% for i in range(1, runner_count | int + 1) %}
  runner-{{ i }}:
    image: "{{ runner_image_name }}:{{ runner_image_tag }}"
    container_name: runner-{{ i }}
    restart: unless-stopped
    working_dir: "{{ RUNNER_INSTALL_DIR }}/{{ i }}"
    env_file: "{{ RUNNER_INSTALL_DIR }}/{{ i }}/.env"
    volumes:
      - "{{ RUNNER_INSTALL_DIR }}/{{ i }}:{{ RUNNER_INSTALL_DIR }}/{{ i }}"
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ runner_docker_base }}/{{ i }}:{{ runner_docker_base }}/{{ i }}"
    group_add:
      - "{{ _runner_docker_gid }}"
{% endfor %}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(application_id) }}
