{{ runner_user }} ALL=(ALL) NOPASSWD: /usr/bin/chown -R * {{ RUNNER_INSTALL_DIR }}*, /bin/chown -R * {{ RUNNER_INSTALL_DIR }}*, /usr/bin/find {{ RUNNER_INSTALL_DIR }}*, /bin/find {{ RUNNER_INSTALL_DIR }}*, /bin/rm -rf {{ RUNNER_INSTALL_DIR }}*, /usr/bin/rm -rf {{ RUNNER_INSTALL_DIR }}*, /bin/rm -rf {{ runner_docker_base }}*, /usr/bin/rm -rf {{ runner_docker_base }}*, /bin/mkdir -vp {{ runner_docker_base }}*, /usr/bin/mkdir -vp {{ runner_docker_base }}*, /bin/mkdir -p {{ runner_docker_base }}*, /usr/bin/mkdir -p {{ runner_docker_base }}*, /bin/chown -R * {{ runner_docker_base }}*, /usr/bin/chown -R * {{ runner_docker_base }}*
