RUNNER_COUNT={{ runner_count | default(1) }}
RUNNER_INSTALL_DIR={{ runner_install_dir | default('/opt/github-runner') }}
RUNNER_DOCKER_BASE={{ runner_docker_base | default('/mnt/docker') }}
RUNNER_PROJECT_PREFIX={{ runner_project_prefix | default('runner') }}
RUNNER_USER={{ runner_user | default('github-runner') }}
DOCKER_IN_CONTAINER={{ DOCKER_IN_CONTAINER | default(false) | bool | lower }}
