DOCKER_IN_CONTAINER={{ DOCKER_IN_CONTAINER | bool | lower }}
RUNNER_COUNT={{ runner_count }}
RUNNER_DOCKER_BASE={{ runner_docker_base }}
RUNNER_INSTALL_DIR={{ runner_install_dir }}
RUNNER_PROJECT_PREFIX={{ runner_project_prefix }}
RUNNER_USER={{ runner_user }}
