DOCKER_IN_CONTAINER={{ DOCKER_IN_CONTAINER | bool | lower }}
GITHUB_REPOSITORY={{ lookup('env', 'GITHUB_REPOSITORY') | default('') }}
GITHUB_REPOSITORY_OWNER={{ lookup('env', 'GITHUB_REPOSITORY_OWNER') | default('') }}
GITHUB_TOKEN={{ lookup('env', 'GITHUB_TOKEN') | default('') }}
RUNNER_COUNT={{ runner_count }}
RUNNER_DISTRIBUTION={{ runner_distribution }}
RUNNER_DOCKER_BASE={{ runner_docker_base }}
RUNNER_GITHUB_OWNER={{ RUNNER_GITHUB_OWNER }}
RUNNER_GITHUB_REPO={{ RUNNER_GITHUB_REPO }}
RUNNER_GIT_REF={{ RUNNER_GIT_REF }}
RUNNER_INSTALL_DIR={{ RUNNER_INSTALL_DIR }}
RUNNER_PROJECT_PREFIX={{ runner_project_prefix }}
RUNNER_USER={{ runner_user }}
