{
    "policies": {
      "Extensions": {
        "Install": [
          {% for addon in lookup('config', application_id, 'addons').values() -%}
            "{{ addon.config.xpi_url }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "DisablePasswordManager": true
    }
  }
  