{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ JITSI_PROSODY_CONTAINER }}:
    image: "{{ JITSI_PROSODY_IMAGE }}:{{ JITSI_PROSODY_VERSION }}"
    container_name: "{{ JITSI_PROSODY_CONTAINER }}"
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    expose:
      - "5222"
      - "5347"
      - "5280"
    volumes:
      - "{{ JITSI_PROSODY_CONFIG_HOST_PATH }}:/config:Z"
      - "{{ JITSI_PROSODY_PLUGINS_HOST_PATH }}:/prosody-plugins-custom:Z"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ JITSI_JICOFO_CONTAINER }}:
    image: "{{ JITSI_JICOFO_IMAGE }}:{{ JITSI_JICOFO_VERSION }}"
    container_name: "{{ JITSI_JICOFO_CONTAINER }}"
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    depends_on:
      {{ JITSI_PROSODY_CONTAINER }}:
        condition: service_started
    volumes:
      - "{{ JITSI_JICOFO_HOST_PATH }}:/config:Z"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ JITSI_JVB_CONTAINER }}:
    image: "{{ JITSI_JVB_IMAGE }}:{{ JITSI_JVB_VERSION }}"
    container_name: "{{ JITSI_JVB_CONTAINER }}"
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    depends_on:
      {{ JITSI_PROSODY_CONTAINER }}:
        condition: service_started
    ports:
      - "{{ JITSI_JVB_MEDIA_PORT }}:{{ JITSI_JVB_MEDIA_PORT }}/udp"
    volumes:
      - "{{ JITSI_JVB_HOST_PATH }}:/config:Z"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ JITSI_WEB_CONTAINER }}:
    image: "{{ JITSI_WEB_IMAGE }}:{{ JITSI_WEB_VERSION }}"
    container_name: "{{ JITSI_WEB_CONTAINER }}"
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    depends_on:
      {{ JITSI_PROSODY_CONTAINER }}:
        condition: service_started
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ JITSI_WEB_HTTP_PORT }}:80"
    volumes:
      - "{{ JITSI_CONFIG_HOST_PATH }}:/config:Z"
      - "{{ JITSI_TRANSCRIPTS_HOST_PATH }}:/usr/share/jitsi-meet/transcripts:Z"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
