-- LDAP authentication for the public XMPP domain (mod_auth_ldap2).
-- Rendered only when services.ldap.enabled is true.
VirtualHost "{{ JITSI_XMPP_DOMAIN }}"
    authentication = "ldap2"
    ldap = {
        hostname  = "{{ LDAP.SERVER.DOMAIN }}";
        port      = {{ LDAP.SERVER.PORT }};
        use_tls   = false;
        bind_dn   = "{{ LDAP.DN.ADMINISTRATOR.DATA }}";
        bind_password = "{{ LDAP.BIND_CREDENTIAL }}";
        user = {
            usernamefield = "{{ LDAP.USER.ATTRIBUTES.ID }}";
            basedn        = "{{ LDAP.DN.OU.USERS }}";
            filter        = "(objectclass=inetOrgPerson)";
        };
    }
