{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: >-
      bash -c '
        /venv/bin/python manage.py migrate --noinput &&
        /venv/bin/python manage.py compile_themes &&
        /venv/bin/python manage.py collectstatic --noinput &&
        (/venv/bin/python manage.py initdb || true) &&
        /venv/bin/python -m gunicorn bookwyrm.wsgi:application --bind 0.0.0.0:{{ container_port }}
      '
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        BOOKWYRM_IMAGE:      "{{ BOOKWYRM_IMAGE }}"
        BOOKWYRM_VERSION:    "{{ BOOKWYRM_VERSION }}"
        BOOKWYRM_REPOSITORY: "{{ BOOKWYRM_REPOSITORY }}"
        BOOKWYRM_REF:        "{{ BOOKWYRM_REF }}"
    image: "{{ BOOKWYRM_CUSTOM_IMAGE }}"
    container_name: "{{ BOOKWYRM_CONTAINER }}"
    hostname: "{{ BOOKWYRM_HOSTNAME }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.bookwyrm.ports.local.http') }}:{{ container_port }}"
    volumes:
      - 'data:/app/data'
      - 'media:/app/media'
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  worker:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ BOOKWYRM_CUSTOM_IMAGE }}"
    container_name: "{{ BOOKWYRM_WORKER_CONTAINER }}"
    command: "/venv/bin/celery -A celerywyrm worker -l INFO"
    pull_policy: never
    volumes:
      - 'data:/app/data'
      - 'media:/app/media'
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={'data': {'name': BOOKWYRM_DATA_VOLUME}, 'media': {'name': BOOKWYRM_MEDIA_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
