ADMIN_PASSWORD={{ lookup("users", "administrator").password | dotenv_quote }}
ADMIN_USERNAME={{ lookup("users", "administrator").username | dotenv_quote }}
APP_BASE_URL={{ lookup("tls", application_id, "url.base") }}
BIBER_PASSWORD={{ lookup("users", "biber").password | dotenv_quote }}
BIBER_USERNAME={{ lookup("users", "biber").username | dotenv_quote }}
CANONICAL_DOMAIN={{ lookup('domain', application_id) | dotenv_quote }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
PIHOLE_BASE_URL={{ lookup("tls", application_id, "url.base") }}
