APP_BASE_URL={{ lookup('tls', 'web-app-dashboard', 'url.base') }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
PIHOLE_BASE_URL={{ lookup('tls', 'web-app-pihole', 'url.base') | dotenv_quote }}
ADMIN_USERNAME={{ users.administrator.username | dotenv_quote }}
ADMIN_PASSWORD={{ users.administrator.password | dotenv_quote }}
BIBER_USERNAME={{ users.biber.username | dotenv_quote }}
BIBER_PASSWORD={{ users.biber.password | dotenv_quote }}
