{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        BASEROW_IMAGE: "{{ BASEROW_IMAGE }}"
        BASEROW_VERSION: "{{ BASEROW_VERSION }}"
    image: "{{ BASEROW_CUSTOM_IMAGE }}"
    container_name: {{ BASEROW_CONTAINER }}
    volumes:
      - data:/baserow/data
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.baserow.ports.local.http') }}:80"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={'data': {'name': BASEROW_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
