{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  gitlab:
    image: "{{ GITLAB_CUSTOM_IMAGE }}"
    hostname: '{{ GITLAB_HOSTNAME }}'
    container_name:  "{{ GITLAB_CONTAINER }}"
    pull_policy: never
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GITLAB_IMAGE: "{{ GITLAB_IMAGE }}"
        GITLAB_VERSION: "{{ GITLAB_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.gitlab.ports.local.http') }}:80"
      - "{{lookup('config', application_id, 'services.gitlab.ports.public.ssh')}}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'
    shm_size: '256m'
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={'config': {'name': GITLAB_CONF_VOLUME}, 'data': {'name': GITLAB_DATA_VOLUME}, 'logs': {'name': GITLAB_LOGS_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
