{% if lookup('database', application_id, 'local') %}
      {{ lookup('database', application_id, 'host') }}:
        condition: service_healthy
{% endif %}
{% if lookup('applications') | is_docker_service_enabled(application_id, 'redis') %}
      redis:
        condition: service_healthy
{% endif %}