{
  "ExtensionInstallForcelist": [
    {% for addon in lookup('config', application_id, 'addons').values() -%}
    "{{ addon.config.crx_id }};{{ addon.config.update_url }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "ExtensionSettings": {
    "*": {
      "installation_mode": "{{ lookup('config', application_id, 'services.chromium.default_installation_mode') }}"
    }
    {% for addon in lookup('config', application_id, 'addons').values() -%},
    "{{ addon.config.crx_id }}": {
      "installation_mode": "{{ addon.config.installation_mode }}",
      "update_url": "{{ addon.config.update_url }}",
      "incognito_mode": "{{ 'enabled' if addon.config.incognito else 'disabled' }}"
    }
    {% endfor %}
  },
  "PasswordManagerEnabled": {{ lookup('config', application_id, 'services.chromium.password_manager_enabled') }}
}
